body {
  background: #ffdee9;
  text-align: center;
  font-family: Arial;
  overflow: hidden;
}

.slideshow {
  width: 90%;
  max-width: 320px;
  height: 420px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fade 4s;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.heart {
  position: fixed;
  font-size: 22px;
  animation: fall 6s linear forwards;
}

@keyframes fall {
  from { top: -20px; }
  to { top: 100vh; }
}
@keyframes fall {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(110vh); opacity: 0.7; }
}

