body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: pink;
  font-family: Arial;
}

.container {
  text-align: center;
}

#yesBtn {
  font-size: 40px;
  padding: 20px 50px;
  border-radius: 20px;
  background: red;
  color: white;
  border: none;
}

#noBtn {
  font-size: 12px;
  padding: 5px;
  position: absolute;
}
@keyframes fall {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(110vh); opacity: 0.7; }
}
